---
name: Package Linux
on:
  release:
    types:
      - published
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      USE_HARD_LINKS: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
      - name: Setup Node 12
        uses: actions/setup-node@v2.5.1
        with:
          node-version: '12'
      - name: Install npm dependencies
        run: |
          npm ci
      - name: Build
        run: |
          npm run build
      - name: Build asar
        run: |
          npm run asar
      - name: Build packages
        run: |
          npm run package:linux
      - name: Get upload_url
        run: | 
          echo "::set-output name=upload_url::https://uploads.github.com/repos/$GITHUB_REPOSITORY/releases/$(jq --raw-output '.release.id' $GITHUB_EVENT_PATH)/assets{?name,label}"  
        id: release
        shell: bash
      - name: Get version
        run: |
          echo "::set-output name=version::${GITHUB_REF##*/v}"
        id: version
        shell: bash
      - name: Upload Snap
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: packages/desktop/pack/Desktop-${{ steps.version.outputs.version }}-linux-amd64.snap
          asset_name: Desktop-${{ steps.version.outputs.version }}-linux-amd64.snap
          asset_content_type: application/zip
      - name: Upload AppImage
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: packages/desktop/pack/Desktop-${{ steps.version.outputs.version }}-linux-x86_64.AppImage
          asset_name: Desktop-${{ steps.version.outputs.version }}-linux-x86_64.AppImage
          asset_content_type: application/octet-stream
      - name: Upload Deb
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: packages/desktop/pack/Desktop-${{ steps.version.outputs.version }}-linux-amd64.deb
          asset_name: Desktop-${{ steps.version.outputs.version }}-linux-amd64.deb
          asset_content_type: application/octet-stream
      - name: Upload Zip
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: packages/desktop/pack/Desktop-${{ steps.version.outputs.version }}-linux-x64.zip
          asset_name: Desktop-${{ steps.version.outputs.version }}-linux-x64.zip
          asset_content_type: application/octet-stream
      - name: Upload Latest.yml
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: packages/desktop/pack/latest-linux.yml
          asset_name: latest-linux.yml
          asset_content_type: application/octet-stream
