---
name: Package Mac
on:
  release:
    types:
      - published
jobs:
  build:
    runs-on: macos-latest
    env:
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
      CSC_LINK: ${{ secrets.CERTIFICATE_OSX_APPLICATION }}
      CSC_KEY_PASSWORD: ${{ secrets.CERTIFICATE_OSX_APPLICATION_PASSWORD }}
      USE_HARD_LINKS: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3.2.0
      - name: Setup Node 12
        uses: actions/setup-node@v2.5.1
        with:
          node-version: '12'
      - name: Install npm dependencies
        run: |
          npm ci
      - name: Build
        run: |
          npm run build
      - name: Build asar
        run: |
          npm run asar
      - name: Build packages
        run: |
          npm run package:darwin
      - name: Get upload_url
        run: | 
          echo "::set-output name=upload_url::https://uploads.github.com/repos/$GITHUB_REPOSITORY/releases/$(jq --raw-output '.release.id' $GITHUB_EVENT_PATH)/assets{?name,label}"  
        id: release
        shell: bash
      - name: Get version
        run: |
          echo "::set-output name=version::${GITHUB_REF##*/v}"
        id: version
        shell: bash
      - name: Upload Package Zip
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: packages/desktop/pack/Desktop-${{ steps.version.outputs.version }}-darwin-x64.zip
          asset_name: Desktop-${{ steps.version.outputs.version }}-darwin-x64.zip
          asset_content_type: application/zip
      - name: Upload Package Installer
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: packages/desktop/pack/Desktop-${{ steps.version.outputs.version }}-darwin-x64.dmg
          asset_name: Desktop-${{ steps.version.outputs.version }}-darwin-x64.dmg
          asset_content_type: application/octet-stream
      - name: Upload Package Installer Blockmap
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: packages/desktop/pack/Desktop-${{ steps.version.outputs.version }}-darwin-x64.dmg.blockmap
          asset_name: Desktop-${{ steps.version.outputs.version }}-darwin-x64.dmg.blockmap
          asset_content_type: application/octet-stream
      - name: Upload Latest.yml
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: packages/desktop/pack/latest-mac.yml
          asset_name: latest-mac.yml
          asset_content_type: application/octet-stream
