---
name: NPM
on:
  release:
    types:
      - published
jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.5
      - name: Setup Node 12
        uses: actions/setup-node@v3.1.1
        with:
          node-version: '12'
      - name: Cache .npm directory 
        uses: actions/cache@v2.1.7
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install npm dependencies
        run: |
          npm ci
      - name: Publish packages to npm
        run: |
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
          npm run publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
